# **Dataset injeção de falhas em rede quântica QKD**

Colab para realizar a análise exploratória dos dados dos datasets gerados pela simulação no SeQUeNCe, além do posterior treinamento de modelos para executar a detecção de falhas/ataques na rede quântica

## Importações

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Análise exploratória do primeiro dataset gerado (teste_1)

In [5]:
df=pd.read_csv("/content/dataset_siteA_siteB.csv")

In [6]:
df

,t_ps,label,keys_buffer,qber_proxy,throughput_bits_s,latency_s,disclosed_bits,starvation_events
0,0,normal,0,NaN,NaN,NaN,0,0
1,20000000000,normal,0,NaN,NaN,NaN,0,1
2,40000000000,normal,0,NaN,NaN,NaN,0,1
3,60000000000,normal,0,NaN,NaN,NaN,0,1
4,80000000000,normal,0,NaN,NaN,NaN,0,1
5,100000000000,normal,0,NaN,NaN,NaN,0,2
6,120000000000,normal,0,NaN,NaN,NaN,0,2
7,140000000000,normal,0,0.00570,NaN,NaN,0,2
8,160000000000,normal,0,0.00570,NaN,NaN,0,2
9,180000000000,normal,0,0.00570,NaN,NaN,0,3
10,200000000000,normal,0,0.00570,NaN,NaN,0,3
11,220000000000,normal,0,0.00570,NaN,NaN,0,3
12,240000000000,normal,0,0.00570,NaN,NaN,0,3
13,260000000000,normal,0,0.00570,NaN,NaN,0,4
14,280000000000,normal,0,0.00575,NaN,NaN,0,4
15,300000000000,normal,0,0.00575,NaN,NaN,0,4
16,320000000000,normal,0,0.00575,NaN,NaN,0,5
17,340000000000,normal,0,0.00575,NaN,NaN,0,5
18,360000000000,normal,0,0.00575,NaN,NaN,0,5
19,380000000000,normal,0,0.00575,NaN,NaN,0,5
20,400000000000,normal,0,0.00575,NaN,NaN,0,6
21,420000000000,normal,0,0.00575,NaN,NaN,0,6
22,440000000000,normal,0,0.00575,NaN,NaN,0,6
23,460000000000,normal,0,0.00575,NaN,NaN,0,6
24,480000000000,normal,0,0.00575,NaN,NaN,0,6
25,500000000000,normal,0,0.00575,NaN,NaN,0,7
26,520000000000,normal,0,0.00575,NaN,NaN,0,7
27,540000000000,normal,0,0.00575,NaN,NaN,0,7
28,560000000000,normal,0,0.00575,NaN,NaN,0,7
29,580000000000,normal,0,0.00575,NaN,NaN,0,8
30,600000000000,normal,0,0.00575,NaN,NaN,0,8
31,620000000000,normal,0,0.00575,NaN,NaN,0,8
32,640000000000,normal,0,0.00575,NaN,NaN,0,9
33,660000000000,normal,0,0.00575,NaN,NaN,0,9
34,680000000000,normal,0,0.00575,NaN,NaN,0,9
35,700000000000,normal,0,0.00575,NaN,NaN,0,9
36,720000000000,normal,0,0.00575,NaN,NaN,0,9
37,740000000000,normal,0,0.00575,NaN,NaN,0,10
38,760000000000,normal,0,0.00575,NaN,NaN,0,10
39,780000000000,normal,0,0.00575,NaN,NaN,0,10
40,800000000000,normal,0,0.00575,NaN,NaN,0,11
41,820000000000,attenuation_jump,0,0.00575,NaN,NaN,0,11
42,840000000000,attenuation_jump,0,0.00575,NaN,NaN,0,11
43,860000000000,attenuation_jump,0,0.00575,NaN,NaN,0,11
44,880000000000,attenuation_jump,0,0.00575,NaN,NaN,0,11
45,900000000000,attenuation_jump,0,0.00575,NaN,NaN,0,12
46,920000000000,attenuation_jump,0,0.00575,NaN,NaN,0,12
47,940000000000,attenuation_jump,0,0.00575,NaN,NaN,0,12
48,960000000000,attenuation_jump,0,0.00575,NaN,NaN,0,12
49,980000000000,attenuation_jump,0,0.00575,NaN,NaN,0,13

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   t_ps               50 non-null     int64
 1   label              50 non-null     object
 2   keys_buffer        50 non-null     int64
 3   qber_proxy         43 non-null     float64
 4   throughput_bits_s  0 non-null      float64
 5   latency_s          0 non-null      float64
 6   disclosed_bits     50 non-null     int64
 7   starvation_events  50 non-null     int64
dtypes: float64(3), int64(4), object(1)
memory usage: 3.3+ KB